<%- include partials/header %>

    <main>
        <section class="sec-padding">
            <div class="container flex center">
                <h1>Login Here </h1>
            </div>
        </section>
        <section class="sec-padding">
            <div class="container flex center">
                <form action="/users/login" method="POST">

                    <fieldset>
                        <label for="email">Enter Your Email :- </label>
                        <input type="email" placeholder="Enter Email" name="email">
                    </fieldset>

                    <fieldset>
                        <label for="password">Enter Your password :- </label>
                        <input type="password" placeholder="Enter password" name="password">
                    </fieldset>
                    <a href="#"><button type="submit" class="btn btn-pri">Submit</button></a>
                    <h3>Or</h3>
                    <section class="sec-padding">
                        <div class="flex center jsb">
                            <a href="/auth/github"> <img class="brand" src="/images/github.png" alt="Github"></a>
                            <a href="/auth/google"> <img class="brand" src="/images/google.png" alt="Google"></a>
                        </div>
                    </section>
                </form>
            </div>
        </section>
    </main>
    <%- include partials/footer %>